<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    autoReload="true"
    throwConfigExceptions="true"
    internalLogLevel="Off"
    internalLogFile="./logs/nlog_internal.log">

    <targets>

        <!--Debug, Info 専用のファイルを出力する設定-->
        <target name="logFile"
            xsi:type="File"
            encoding="UTF-8"
            lineEnding="Default"
            layout="${longdate} - ${level:uppercase=true} - [スレッドID: ${threadid}] [ロガー: ${logger}] - ${message}"
            fileName="${basedir}/logs/log/Log-${shortdate}.log"
            archiveFileName="${basedir}/logs/backup/log/Log-${shortdate}.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            archiveAboveSize="100000"
            maxArchiveFiles="10"/>

        <!--エラーログ専用のファイルを出力する設定-->
        <target name="errorLogfile"
            xsi:type="File"
            encoding="UTF-8"
            lineEnding="Default"
            layout="${longdate} - ${level:uppercase=true} - [スレッドID: ${threadid}] [ロガー: ${logger}] - ${message} ${exception:format=tostring}"
            fileName="${basedir}/logs/error/Error-${shortdate}.log"
            archiveFileName="${basedir}/logs/backup/error/Error-${shortdate}.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            archiveAboveSize="100000"
            maxArchiveFiles="10"/>

        <!-- Visual Studioの出力ウィンドウに表示させる -->
        <target name="logConsole" 
            xsi:type="Debugger" 
            layout="${longdate} - ${level:uppercase=true:padding=-5} - ${message}" />

    </targets>
    <rules>

        <logger name="*" maxlevel="Info" writeTo="logFile" />
        <logger name="*" minlevel="Error" writeTo="errorLogfile" />
        <logger name="*" minlevel="Trace" writeTo="logConsole" />

    </rules>
</nlog>