<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off"
      internalLogFile="./logs/nlog_internal.log">

    <!-- 
        INFO: https://github.com/NLog/NLog/wiki/Internal-Logging
		◆設定値の説明
        ・autoReload
            → NLogの構成ファイルを監視し、変更があった場合に自動で読み込む設定. アプリケーションを再起動することなくNLogの変更を適応することができる
    
		・throwConfigExceptions="true"
		　   → 設定に問題があった時にエラーを発生することができる
			    ※ throwExceptions = "true"という設定もありますがこれは本番環境では使用しないでください。
			    アプリケーションに致命的な問題を与える可能性があります。これは、単体テストとローカルのトラブルシューティングを目的としています。
      
        ・internalLogLevel
            → 内部ログを有効化するかの設定. NLogが正常に動作しないとき用のNLogに関するデバッグファイルを作成する
    
        ・internalLogFile
            → 指定したファイルにデバッグメッセージを書き込む.
        -->

    <targets>

        <!-- 
        targetで指定するパラメータ
		    name: ターゲットの名前
			xsi:type: ターゲットをどの種類のタイプで書き出すか指定する（File → 通常のテキストファイル）
			encoding: 出力ファイルのエンコードを指定（utf-8, ascii, utf-16が指定できる. デフォルトではutf-8が指定される）
			INFO: https://github.com/NLog/NLog/wiki/Level-Layout-Renderer
			layout: 出力するログのレイアウトを指定する（必須項目）. SimpleLayoutの他に、JsonLayout、XmlLayout、CsvLayoutなどがある
					デフォルトでは ${longdate}|${level:uppercase=true}|${logger}|${message:withexception=true} が指定される
					longdate: ログが出力された日付
			fileName: 書き込むファイルの名前を指定
			archiveFileName: アーカイブに使用されるファイルの名前. {###}は一連の数字に置き換えられる
		-->

        <!--
            archiveEvery: 指定された時間が経過するごとに、ログファイルを自動的にアーカイブするかどうかを示す
                → 日 - 毎日アーカイブします。
                Hour - 1時間ごとにアーカイブします。
                Minute - 毎分アーカイブします。
                Month - 1ヶ月ごとにアーカイブします。
                なし - 時刻を基準にしたアーカイブを行いません。
                年 - 毎年アーカイブします。
                Sunday - 日曜日ごとにアーカイブします。NLog 4.4.4で導入されました。
                Monday - 毎週月曜日をアーカイブします．NLog 4.4.4で導入されました。
                Tuesday - 毎週火曜日をアーカイブ。NLog 4.4.4で導入されました。
                水曜日 - 毎週水曜日にアーカイブ。NLog 4.4.4で導入されました。
                木曜日 - 毎週木曜日にアーカイブされます。NLog 4.4.4で導入されました。
                金曜日 - 毎週金曜日にアーカイブされます。NLog 4.4.4で導入されました。
                土曜日 - 毎週土曜日にアーカイブされます。NLog 4.4.4で導入されました。
                ファイルは、現在の時間帯が変更された場合、書き込み操作の一部としてアーカイブに移動されます。
                例えば、現在の時間が10時から11時に変わった場合、11時以降に発生する最初の書き込みがトリガーとなります。
       
            archiveAboveSize: ログのサイズを指定してアーカイブする. 単位はバイト
                → 例: 1000000/1MB, 100000/100KB, 10000/10KB, 5000/5KB
        
            maxArchiveFiles: アーカイブとして残すログファイルの最大個数
       
            archiveNumbering: 指定するとログファイルをローリングする
        -->

        <target name="logFile"
                    xsi:type="File"
                    encoding="UTF-8"
                    lineEnding="Default"
                    layout="${longdate} - ${level:uppercase=true} - [スレッドID: ${threadid}] [ロガー: ${logger}] - ${message}"
                    fileName="${basedir}/logs/log/Log-${shortdate}.log"
                    archiveFileName="${basedir}/logs/backup/log/Log-${shortdate}.{#}.log"
                    archiveEvery="Day"
                    archiveNumbering="Rolling"
                    archiveAboveSize="1005000"
                    maxArchiveFiles="10"/>

        <target name="errorLogfile"
                    xsi:type="File"
                    encoding="UTF-8"
                    lineEnding="Default"
                    layout="${longdate} - ${level:uppercase=true} - [スレッドID: ${threadid}] [ロガー: ${logger}] - ${message} ${exception:format=tostring}"
                    fileName="${basedir}/logs/error/Error-${shortdate}.log"
                    archiveFileName="${basedir}/logs/backup/error/Error-${shortdate}.{#}.log"
                    archiveEvery="Day"
                    archiveNumbering="Rolling"
                    archiveAboveSize="1005000"
                    maxArchiveFiles="10"/>

        <!-- Visual Studioの出力ウィンドウに表示させる -->
        <target name="LogConsole" xsi:type="Debugger" layout="${longdate} - ${level:uppercase=true:padding=-5} - ${message}" />

    </targets>
    <rules>

        <logger name="*" maxlevel="Info" writeTo="logFile" />
        <logger name="*" minlevel="Error" writeTo="errorLogfile" />
        <logger name="*" minlevel="Trace" writeTo="LogConsole" />

    </rules>
</nlog>